@import url(http://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,800,300|Droid+Sans+Mono);

@media all {html {font-size: 22px;}}
/* @media all and (max-width:1000px){html {font-size: 24px;}} */
/* @media all and (max-width:960px){html {font-size: 23px;}} */
/* @media all and (max-width:920px){html {font-size: 22px;}} */
/* @media all and (max-width:880px){html {font-size: 21px;}} */
/* @media all and (max-width:840px){html {font-size: 20px;}}@media all and (max-width:800px){html {font-size: 19px;}}@media all and (max-width:760px){html {font-size: 18px;}}@media all and (max-width:720px){html {font-size: 17px;}}@media all and (max-width:680px){html {font-size: 16px;}}@media all and (max-width:640px){html {font-size: 15px;}}@media all and (max-width:600px){html {font-size: 14px;}}@media all and (max-width:560px){html {font-size: 13px;}}@media all and (max-width:520px){html {font-size: 12px;}} */

* {
    margin: 0;
    padding: 0;
    /* font-weight: 400; */
    text-rendering: optimizeLegibility;
}

/* Dosis + Open Sans */

body,li, p{
    font-family: "Merriweather", serif;
    color: #333333;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-bottom: .25em;
}

h2,h3,h4,h5,h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-bottom: .25em;
}

#preamble, #postamble, #footer , figcaption {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* h2, h3 { */
/*     font-family: 'EB Garamond', serif; */
/*     font-weight: normal; */
/*     font-size: 18px; */
/*     letter-spacing: 2px; */
/*     text-transform: uppercase; */
/* } */

h4, h5, h6 {
    font-style: italic;
}


html { 
    line-height: 1.5;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga";
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern' 1;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;

    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga' 1;
    -webkit-font-feature-settings: 'liga' 1;
    -o-font-feature-settings: 'liga' 1;
    -ms-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;
    height: 100%;
}

li { -moz-column-break-inside: avoid;
     -webkit-column-break-inside: avoid;
     -o-column-break-inside: avoid;
     -ms-column-break-inside: avoid;
     column-break-inside: avoid;
     -moz-break-inside: avoid-column;
     -webkit-break-inside: avoid-column;
     -o-break-inside: avoid-column;
     -ms-break-inside: avoid-column;
     break-inside: avoid-column;}

body{
    width: 100%;
    max-width: 1000px;
    /* min-width: 520px; */
    min-height: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

verbatim {
    font-family: "Droid Sans Mono";
    font-size: .8em;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 2px;
}

pre {
    font-family: "Droid Sans Mono";
    font-size: .8em;
}

code {
    font-family: "Droid Sans Mono", monospace;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
    transition: border-color 1s linear 0s;
}

code:hover {
    border-color: #7D26CD;
}

code.code {
    border: none;
}

code.code:after {
    content: "｣";
    padding-left: .1em;
    color: #ccc;
    transition: color 1s linear 0s;
}

code.code:hover:after {
    color:#7D26CD;
}    
code.code:hover:before {
    color:#7D26CD;
}    

code.code:before {
    content: "｢";
    padding-right: .1em;
    color: #ccc;
    transition: color 1s linear 0s;
}

b {
    font-weight: bold;
}

img {
    max-width: 100%;
    -moz-box-shadow: 3px 3px 16px;
    -webkit-box-shadow: 3px 3px 16px;
    box-shadow: 3px 3px 16px;
}

.org-src-container {
    padding: .5em;
    margin-left: -9rem;
    background: #eee;
    border: 1px solid #ccc;
    border-left-width: 5px;
    overflow: hidden;
    margin-bottom: 1em;
    transition: border-color 1s linear 0s;
}

.org-src-container:hover{
    overflow: auto;
    border-color: #7D26CD;
}

/* #content { */
/*     clear: right; */
/*     margin: auto; */
/*     margin-bottom: 2em; */
/*  } */

#content p, #content ul {
    margin-bottom: 1.5em;
}

body > * {
    font-size: 100%;
    margin-left: 11.5rem;
    margin-right: 2.5rem;
}

#content {
    display: block;
    padding: 2rem 0 2rem 0;
    position: relative;
}

#preamble {
    color: #ccc;
    font-weight: 300;
}

#postamble p {
    padding-left: 3em ;
    font-size: .7em;
    font-family: "Open Sans", sans-serif;
    color: #ccc;
    margin-bottom: 1rem;
}

#footer {
    border-top: .2em solid black;
}

#footer p {
    font-family: "Open Sans", sans-serif;
    font-size: .7em;
    color: #ccc;
    float: left;
}

#rss {
    font-size: .7em;
    float: right;
    clear: right;
}


#sitename {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #ccc;
    transition: color 1s linear 0s;
}

#sitename:hover { color: #C0C;
                }

.nav {
    position: relative; 
    color: #eee; 
    margin-bottom: 1em; 
    border-bottom: .2em solid black;
}

/* /\* .nav h5 { font-weight: bold; } *\/ */
.nav h3 {  } 
.nav ul { margin-bottom: 1.5em; position: absolute; top: 0;  right: 0}  
.nav li { display: inline;
          font-family: "Open Sans", sans-serif;
          font-size: .75em;
          list-style: none;
          margin-left: 1em;
          text-transform:capitalize; }
.nav li a { color: #ccc;
            transition: color 1s linear 0s;
          }
.nav li a:hover {color: #c0c;}

/* Blog page styling */

.tag-list li {display: inline; 
              list-style: none; 
              margin-left: 1em;}

.tag-list a { text-transform: lowercase;}

/* Tags Page Styling */
ol#summary-list li {list-style: none; margin-left: 1em;}
#summary-list h2 {font-family: "Open Sans", sans-serif; text-transform: capitalize;}


 table	{ width: 100%; text-align: left; border-collapse: collapse; border-spacing: 0; margin-bottom: 1.5em; } 

table th,
 table td	{ 
 	width: 33%; padding: .375em 1em;
	
 	-webkit-font-feature-settings: "tnum"; 
 	-moz-font-feature-settings: "tnum"; 
 	-ms-font-feature-settings: "tnum"; 
 	-o-font-feature-settings: "tnum"; 
 	font-feature-settings: "tnum";	 
 } 

table th[scope=col], 
table td { text-align: left; }
td code {border: none;}

tbody tr:nth-child(odd) { background: #eee; } 


tr th { 
    border-bottom: .0625em solid #000; 
    padding-bottom: .3125em; 
    background: #fff;
} 

::-moz-selection {
    background-color: #7D26CD;
    color: #EEE;
}
::selection {
    background-color: #7D26CD;
    color: #EEE;
}

a {
    color: #C0C;
    text-decoration: none;
}

a:visited {
    color: #ccc;
}

a:hover {
    color: #C0C;
}

figure {
    position: relative;
}

blockquote {
    position: relative;
}

blockquote p, figcaption {
    margin-left: -12em;
    position: absolute;
    top: 0;
    width: 9.5em;
    text-align: right;
    font-size: .75em;
    color: #bbb;
    font-style: italic;
    transition: color 1s linear 0s;
}

figcaption:hover {
    color: #222;
    font-weight: 300;
}

blockquote p {
	font-style: italic;
}

#blogmeta .published {
    position: relative;
    left: 0;
    top: 0;
    color: inherit;
}
#blogmeta {
    position: relative;
    color: #ddd;
    font-size: .8em;
    margin: 2.5em 1.5em -2.5em 1.5em;
}

#blogmeta .tag-list li:after {
    content : ", ";
}
#blogmeta .tag-list li {
    display: inline;
    margin-left: 0;
}
#blogmeta .tag-list {
    display: inline;
    list-style: none;
}

#blogmeta .tag-list li:last-child:after {
    content: ".";
}

footer {
    font-size: .75em;
}

dt {
    float: left;
    width: 4em;
}

/* Index links */
.outline-2 a {
    font-weight: 300;
    text-transform: none;
}



li {
    list-style-type: circle;
}

/* section:before { */
/*     float: left; */
/*     font-size: 2em; */
/*     margin-left: -1.1em; */
/*     margin-top: -.125em; */
/*     content: ""; */
/*     color: #333; */
/* } */

section p {
    margin-bottom: 0px !important;
}

section ul.org {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: .8em;
}

.entrydate {
    margin-right: 1em;
    float: left;
}

.entrydate p:after {
    margin-left: 1em;
    color: #777;
    content: "✧";
}

.entrydate p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #777;

}

section ul.org-ul:before {
    /* content: "Tags:"; */
}

section ul.org-ul li {
    font-family: "Open Sans", sans-serif;
    display: inline;
    list-style: none;
    font-size: .8em;
}

section ul.org-ul li:after {
    content: "/";
}

section ul.org-ul li:last-child:after {
    content: "";
}

@media screen and (max-width: 63.236em) {
    body > * {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    
    li {
        margin-left: 1rem;
    }
    .org-src-container {
        margin-left: 0rem;
    }

    section ul.org-ul li {
        margin-left: 0px;
    }
    

    .entrydate {
        float: none;
        margin: 0px;
    }

    .entrydate p:after {
        content: "";
    }
}

@media screen and (max-width: 30em) {
    html {font-size: 18px}
    .nav ul {
        position: relative;
        margin-bottom: .5em;
    }

    .nav li {
        display: inline-block;
    }
}
